*.swp
*.so
*.detectorbank
*.parameters
*.pyc
ui/trace.py
ui/traj.py
build
xcode

# Do not exclude the *.so files in the bin directory
!whisk/bin/*.so

# Dev folders
.vs/
.vscode/

# Distribution folder
dist/

# Ignore the ffmpeg dll archives
whisk/bin/ffmpeg_win64_lgpl_shared.zip
whisk/bin/ffmpeg_linux64_lgpl_shared.tar.xz

